# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# (Optionnel) modèles lourds si tu ne veux PAS les versionner
# models/*.keras
# models/*.h5
